/* img {
  transition: 0.5s;
  position: relative;
  width: 200px;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  cursor: none;
} */

.v-cursor {
  z-index: 99999999;
  position: fixed;
  background-color: #e0deff;
  left: 0;
  top: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  /* transition: all 0.4s, top 0.1s, left 0.1s, opacity 0.5s;
  -webkit-transition: all 0.4s, top 0.1s, left 0.1s, opacity 0.5s;
  -moz-transition: all 0.4s, top 0.1s, left 0.1s, opacity 0.5s;
  -ms-transition: all 0.4s, top 0.1s, left 0.1s, opacity 0.5s;
  -o-transition: all 0.4s, top 0.1s, left 0.1s, opacity 0.5s; */
  transition: transform 0.3s ease;
}
.v-cursor.link {
  /*height: 50px;
  width: 50px;
  */
  background-color: #fddbbc;
  border: 3px solid rgba(224, 222, 255, 0);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(8) !important;
  -webkit-transform: translate(-50%, -50%) scale(8) !important;
  -moz-transform: translate(-50%, -50%) scale(8) !important;
  -ms-transform: translate(-50%, -50%) scale(8) !important;
  -o-transform: translate(-50%, -50%) scale(8) !important;
}
.v-cursor.button {
  height: 60px;
  width: 60px;
  border: 3px solid #ffd600;
}
.v-cursor.img {
  /*height: 80px;
  width: 80px;
  */
  background-color: #fddbbc;
  transform: translate(-50%, -50%) scale(8) !important;
  -webkit-transform: translate(-50%, -50%) scale(8) !important;
  -moz-transform: translate(-50%, -50%) scale(8) !important;
  -ms-transform: translate(-50%, -50%) scale(8) !important;
  -o-transform: translate(-50%, -50%) scale(8) !important;
}
.v-cursor.img::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.2);
  -webkit-transform: translate(-50%, -50%) scale(0.2);
  -moz-transform: translate(-50%, -50%) scale(0.2);
  -ms-transform: translate(-50%, -50%) scale(0.2);
  -o-transform: translate(-50%, -50%) scale(0.2);
}
.v-cursor::after {
  content: "View";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  color: #000;
  color: #17171c;
  font-size: 16px;
  opacity: 0;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
  -moz-transform: translate(-50%, -50%) scale(0.2);
  -ms-transform: translate(-50%, -50%) scale(0.2);
  -o-transform: translate(-50%, -50%) scale(0.2);
}

.v-dot {
  z-index: 99999999;
  position: fixed;
  background-color: transparent;
  left: 0;
  top: 0;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: 0s, opacity 0.5s, background-color 0.4s;
  transform: translate(-50%, -50%);
}
.v-dot.link {
  background-color: rgba(255, 255, 255, 0);
}
.v-dot.button {
  background-color: rgba(255, 255, 255, 0);
}
*/

/* base style lenis*/
::-webkit-scrollbar {
  display: none;
}
html.lenis {
  scrollbar-width: none;
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth.overflow-hidden {
  scroll-behavior: smooth !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.custom_breadcrumb > nav {
  width: 100%;
}

/* 

Banner Style For initial  animation  */
.img-revel-wrapper {
  position: absolute;
  overflow: hidden;
  /* box-shadow: 10px 0px 20px #000000a1; */
}
.intro__images.img_center .img-revel-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
}
.char {
  transform: translateY(170px);
  -webkit-transform: translateY(170px);
  -moz-transform: translateY(170px);
  -ms-transform: translateY(170px);
  -o-transform: translateY(170px);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.head-text {
  overflow: hidden;
}

.drop-banner-shadow {
  filter: drop-shadow(0px 4px 22.799999237060547px #191614);
  -webkit-filter: drop-shadow(0px 4px 22.799999237060547px #191614);
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(1) {
  top: 0%;
  left: 5%;
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(2) {
  top: 54%;
  left: 0%;
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(3) {
  top: 0%;
  left: 30%;
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(4) {
  top: 0%;
  left: 70%;
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(5) {
  top: 55%;
  left: 30%;
}
.imgWrapper.initial_img .img-revel-wrapper:nth-child(6) {
  bottom: 10%;
  right: 0;
}

/* origin */
.imgWrapper.origin_img .img-revel-wrapper:nth-child(1) {
  right: 65%;
  top: 20%;
}
.imgWrapper.origin_img .img-revel-wrapper:nth-child(2) {
  left: 25%;
  top: 55%;
}
.imgWrapper.origin_img .img-revel-wrapper:nth-child(3) {
  left: 34%;
  top: 34%;
}
.imgWrapper.origin_img .img-revel-wrapper:nth-child(4) {
  left: 50%;
  bottom: 60%;
}
.imgWrapper.origin_img .img-revel-wrapper:nth-child(5) {
  left: 25%;
  bottom: 58%;
}
.imgWrapper.origin_img .img-revel-wrapper:nth-child(6) {
  left: 60%;
  top: 50%;
}

.imgWrapper.img_center {
  position: relative;
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 798.351806640625px;
    stroke-dasharray: 798.351806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 798.351806640625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 798.351806640625px;
    stroke-dasharray: 798.351806640625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 798.351806640625px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s linear 0s both;
  animation: animate-svg-stroke-1 1s linear 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 798.3514404296875px;
    stroke-dasharray: 798.3514404296875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 798.3514404296875px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 798.3514404296875px;
    stroke-dasharray: 798.3514404296875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 798.3514404296875px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s linear 0.12s both;
  animation: animate-svg-stroke-2 1s linear 0.12s both;
}

@media (max-width: 768px) {
  .img-revel-wrapper {
    max-width: 180px;
    height: 200px;
    object-fit: cover;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(1) {
    top: 0%;
    left: 5%;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(2) {
    top: 54%;
    left: 0%;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(3) {
    top: 0%;
    left: 30%;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(4) {
    top: 0%;
    left: 70%;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(5) {
    top: 55%;
    left: 30%;
  }
  .imgWrapper.initial_img .img-revel-wrapper:nth-child(6) {
    bottom: 10%;
    right: 0;
  }

  /* origin */
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(1) {
    right: 65%;
    top: 20%;
  }
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(2) {
    left: 25%;
    top: 55%;
  }
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(3) {
    left: 34%;
    top: 34%;
  }
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(4) {
    left: 50%;
    bottom: 60%;
  }
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(5) {
    left: 25%;
    bottom: 58%;
  }
  .imgWrapper.origin_img .img-revel-wrapper:nth-child(6) {
    left: 60%;
    top: 50%;
  }
}
