@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "soria";
  src: url("/fonts/soria-font-webfont.eot");
  src: url("/fonts/soria-font-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/soria-font-webfont.woff2") format("woff2"),
    url("/fonts/soria-font-webfont.woff") format("woff"),
    url("/fonts/soria-font-webfont.ttf") format("truetype"),
    url("/fonts/soria-font-webfont.svg#soriasoria") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bronova";
  src: url("/fonts/bronova-bold");
  src: url("/fonts/bronova-bold?#iefix") format("embedded-opentype"),
    url("/fonts/bronova-bold.woff2") format("woff2"),
    url("/fonts/bronova-bold.woff") format("woff"),
    url("/fonts/bronova-bold.ttf") format("truetype"),
    url("/fonts/bronova-bold.svg#soriasoria") format("svg");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply text-white min-h-screen font-blinker;
  }
  ul {
    @apply list-none pl-4;
  }
}

@layer components {
  /* .v-cursor {
    @apply z-[9999] fixed left-0 top-0 h-3 w-3 rounded-full pointer-events-none opacity-0 transition-opacity    delay-500 translate-x-[-50%] translate-y-[-50%];
  } */

  .img-wrraper-div {
    perspective: 500px;
  }

  .menu-overlayer {
    clip-path: polygon(00% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  .vertical {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .menu-link-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100);
  }
  .container {
    @apply 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px];
  }
  .post-content > * {
    @apply mb-8;
  }
  .post-content ul {
    @apply list-disc;
  }
  .post-content ul li {
    @apply list-disc list-item marker:text-primary-600;
  }
  .post-content .wp-block-quote {
    @apply p-4 my-4 border-s-4 border-primary-600 bg-primary-500 rounded-lg;
  }
  .post-content .wp-block-quote p {
    @apply italic mb-4 text-xl  relative;
  }
  .post-content .wp-block-quote cite {
    @apply not-italic text-sm relative pl-5 before:absolute before:top-[50%] before:left-0 before:w-3 before:h-[2px] before:bg-primary-600;
  }
  .post-content .is-layout-flex {
    @apply flex;
  }
  .post-content h1 {
    @apply text-3xl;
  }
  .post-content h2 {
    @apply text-2xl;
  }
  .post-content h3 {
    @apply text-lg;
  }
  .post-content .wp-block-media-text > * {
    @apply md:w-1/2 w-full;
  }
  .post-content .wp-block-media-text {
    @apply sm:flex items-center gap-6;
  }
  .post-content .wp-block-file__button {
    @apply p-2 px-3  rounded-md bg-primary-600 text-white mx-2;
  }
  .post-content table {
    @apply bg-white border border-collapse border-slate-400 shadow-sm text-sm w-full;
  }
  .post-content thead th {
    @apply px-6 py-3;
  }
  .post-content thead tr {
    @apply text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400;
  }
  .post-content tr {
    @apply bg-white border-b dark:bg-gray-800;
  }
  .post-content td {
    @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap;
  }
  .post-content details {
    @apply border-gray-200 border-b;
  }
  .post-content details summary {
    @apply flex items-center font-bold cursor-pointer mb-2 marker:text-primary-600 marker:visible;
  }
  .post-content details summary ~ * {
    @apply mb-4;
  }
}
